@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import url("./variables.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

body{
    color: var(--color-main);
    background-color: var(--color-secondary);
}

header, main, footer{
    max-width: var(--max-width);
    margin: auto;
}