@import url("./variables.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}

body{
    color: var(--color-main);
    background-color: var(--color-secondary);
}

header, main, footer{
    max-width: var(--max-width);
    margin: auto;
}