:root{
    --max-width: 1440px;

    --color-white-100: #FFF;
    --color-white-050: #FFFFFF80;
    --color-black-100: #000;
    --color-black-070: #000000B3;
    --color-black-060: #00000099;
    --color-black-020: #00000033;
    --color-gray: #252525;
    --color-blue-1: #1472B7;
    --color-blue-2: #1572B7;
    --color-blue-3: #3BA1CD;
    --color-blue-4-100: #33A8DB;
    --color-blue-4-050: #33A8DB80;
    --color-blue-5-020: #32A8DB33;
    --color-blue-5-000: #32A8DB00;
    --color-blue-6: #31A8DD33;
}